@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@theme {
  --font-manrope: "Manrope", sans-serif;
}

:root {
  color: rgba(255, 255, 255, 0.87);
}
::-webkit-scrollbar{
  width: 10px;
  border-radius: 16px;
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
  width: 6px;
  border-radius: 16px;
}